/* Technologies CSS */
#technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1.5rem;
}

.technology-icon {
  font-size: 4rem;
  display: block;
  margin: 0 auto;
}

/* Technologies Container */
.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-title {
  background-color: #282c34;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
