/* Let's Connect CSS */

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem; /* spaces between icon, h3, h5 */
  background-color: black;
  border: 1px solid black; 
  border-radius: 10px;
  }
  
  .connect-container {
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add some vertical margin */
  }
  
  .connect-icons {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the icons */
    gap: 15px; /* Space between icons */
    margin-top: 10px; /* Space above the icons */
  }
  
  .connect-icons a {
    font-size: 4rem; /* adjust size as needed */
    display: block;
    margin: 0 auto 0 auto; /* centers and adds space below */
    color: #003f85;
    transition: color 0.3s;
  }
  
  .connect-icons a:hover {
    color: #282c34; /* Change color on hover */
  }