/* Header CSS */

.headerAndIntroBackground {
  background-image: url("../../images/code-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden; /* keeps corners clean */
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  
  .left-header {
    text-align: left; /* Aligns text to the left */
    margin-left: 2%;
    padding-left: 0;
  }
  
  .right-header {
    text-align: right;
    margin-right: 2%; /* push the element away from the edge */
    padding-right: 0; /* remove padding that can misalign the border */
  }