.navbar-dropdown {
    background-color: transparent;
}

.navbar .nav-link {
    color: white; /* Set link color */
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* TODO: 
Commented out nav-link:hover b/c it was messing with projects-btn style. Need to figure out why  
*/

/* .nav-link:hover {
  background-color: #111
} */