.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header & Navbar CSS */

.header-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between left and right headers */
  align-items: center; /* Center items vertically */
  width: 100%; /* Full width */
  cursor: pointer;
}

.left-header {
  text-align: left; /* Aligns text to the left */
  width: 50%; /* Adjust width as needed */
  padding-left: 1%;
  color: white; 
}

.right-header {
  text-align: right; /* Aligns text to the right */
  width: 50%; /* Adjust width as needed */
  padding-right: 1%;
}

.transparent-navbar {
  background-color: transparent !important; /* Make the navbar transparent */
  box-shadow: none; /* Remove any shadow if present */
}

.nav-link {
  color: white; /* Set link color */
  text-align: center;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
  background-color: #01dfdc;
}

/* Intro CSS */

.intro {
  color: white; 
}
